body {
    font-family: 'Playfair Display', serif;
    background-color: #FFEEE0;
    margin: 0 auto; /* Центрирует body, если ширина ограничена */
    padding: 0;
    cursor: default;
    width: 100%; /* По умолчанию занимает всю ширину */
    max-width: 1440px; /* Ограничение ширины */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: rgba(68, 25, 1, 0.78);
    padding: 10px 0;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-start;
    padding-left: 20px;
    text-decoration: none;
    color: white;
}

.logo img {
    height: 90px;
    margin-right: 10px;
}

.logo span {
    font-size: 30px;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: center;
    gap: 100px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.theme-buttons {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 20px;
}

.theme-buttons button {
    background-color: #FFEEE0;
    border: 2px solid rgba(68, 25, 1, 0.78);
    border-radius: 30px;
    color: black;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Playfair Display', serif;
    transition: 0.3s ease-in-out;
}

.theme-buttons button:hover  {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(30, 10, 0, 0.5);
}

nav a:hover, header span:hover, footer a:hover{
    transform: scale(1.1);  
    transition: 0.3s ease-in-out;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 100%;
}

.search-container input {
    padding: 12px;
    width: 90%;
    font-size: 18px;
    border-radius: 25px;
    background-color: rgba(68, 25, 1, 0.47);
    color: #FFFFFF;
    text-align: left;
    outline: none;
    border: 2px solid #382C22;
}

.search-container input::placeholder {
    color: #FFFFFF;
}

.search-container:hover{
    transform: scale(1.01);
    transition: 0.3s ease-in-out;
}

.cake-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.cake-item {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: rgba(68, 25, 1, 0.78);
    border-radius: 30px;
    padding: 20px;
    color: #FFFFFF;
}

.cake-item:hover{
    transform: scale(1.01);
    transition: 0.3s ease-in-out;
}

.cake-item img {
    width: 150px;
    height: auto;
    border-radius: 10px;
}

.cake-text {
    max-width: 600px;
}

.cake-text h2, .cake-text p {
    color: #FFFFFF;
    margin: 0;
}

footer {
    background-color: rgba(68, 25, 1, 0.78);
    color: white;
    padding: 20px;
}

footer a{
    text-decoration: none;
    color: white;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.footer-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-item p {
    font-size: 24px;
    margin: 5px 0;
}

.light-theme {
    background-color: #FFEEE0;
    color: #000000;
}

.dark-theme {
    background-color: #382C22;
    color: #FFFFFF;
}

.light-theme .theme-buttons button {
    background-color: #FFEEE0;
    color: rgba(68, 25, 1, 0.78);
}

.dark-theme .theme-buttons button {
    background-color: rgba(255, 255, 255, 0.47);
    color: #000000;
}

.light-theme .search-container input {
    background-color: rgba(68, 25, 1, 0.47);
    color: #FFFFFF;
}

.dark-theme .search-container input {
    background-color: rgba(255, 255, 255, 0.47);
    color: #000000;
}

.dark-theme .menu-dropdown {
    background-color:rgba(255, 255, 255);
}

.dark-theme .menu-dropdown a {
    color:black;
}

@media (min-width: 769px) {
.menu-dropdown, .burger-menu {
    display: none !important; /* Скрываем бургер-меню */
}
}
            
@media (max-width: 768px) {
    .footer-item p {
        font-size: 20px;
    }

    #main-nav {
        display: none; /* Скрываем обычное меню */
    }

    .burger-menu {
        display: block; /* Показываем бургер-меню */
        font-size: 30px;
        padding: 10px;
        background-color: #FFEEE0;
        color: rgba(68, 25, 1, 0.78);
        border: none;
        cursor: pointer;
        border-radius: 10px;
    }

    .burger-menu:hover {
        transform: scale(1.1);
        box-shadow: 0 4px 8px rgba(30, 10, 0, 0.5);
        transition: 0.3s ease-in-out;
    }

    .menu-dropdown {
        display: none;
        position: absolute;
        right: 20px;
        top: 100px;
        background-color: rgba(68, 25, 1, 0.9);
        width: 200px;
        padding: 10px;
        border-radius: 10px;
    }

    .menu-dropdown a {
        display: block;
        color: white;
        text-decoration: none;
        padding: 10px;
    }

    .menu-dropdown a:hover {
        transform: scale(1.1);  
        transition: 0.3s ease-in-out;
    }

    /* Центрирование блока кнопок между логотипом и бургер-меню */
    .theme-buttons {
        display: flex;
        flex-direction: column; /* Расположить кнопки друг над другом */
        align-items: end; /* Выравнивание по центру */
    }

    .theme-buttons button {
        font-size: 14px; /* Уменьшенный размер кнопок */
        padding: 6px 12px;
        width: 90px;
        border-radius: 30px;
        background-color: rgba(255, 238, 224, 0.9);
        color: rgba(68, 25, 1, 0.78);
        border: 2px solid rgba(68, 25, 1, 0.78);
        transition: transform 0.3s ease-in-out;
    }
}

@media (max-width: 380px) {
    .logo span {
        display: none;
    }

    .cake-text p{
        display: none;
    }

    .cake-text h2{
        font-size: 20px;
    }

    .footer-container {
        display: flex;
        flex-direction: column; /* Элементы теперь идут вертикально */
        align-items: start; /* Центрируем содержимое */
        gap: 15px; /* Добавляем отступ между элементами */
    }
}